@font-face {
  font-family: "iconfont"; /* Project id 4890888 */
  src: url('iconfont.woff2?t=1745034681554') format('woff2'),
       url('iconfont.woff?t=1745034681554') format('woff'),
       url('iconfont.ttf?t=1745034681554') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cai:before {
  content: "\e659";
}

.icon-emojilight:before {
  content: "\e7a1";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-good:before {
  content: "\e62a";
}

.icon-shoucang:before {
  content: "\e6b3";
}

.icon-yingbi:before {
  content: "\ed9b";
}

.icon-danmushu:before {
  content: "\e665";
}

.icon-bofang:before {
  content: "\e60b";
}

.icon-remen:before {
  content: "\e6ef";
}

.icon-bilibili-line:before {
  content: "\ea96";
}

