$max-width: 2500px;
$min-width: 1400px;

$content-width: 80%;

$p-bg-color: #ffffff;
$p-bg-color-deep: #f1f2f3;
$p-shadow: 0 0 5px #e0e0e0;
$p-hover-shadow: 0 0 10px #e0e0e0;

// 定义字体颜色
$text-color-light: #ffffff;
$text-color-deep: #61666d;
$text-color-dark: #000000;
// 文字hover颜色
$text-color-hover: #00a1d6;

// 定义字体大小
$xs-text-size: 14px;
$s-text-size: 16px;
$m-text-size: 24px;
$l-text-size: 32px;

// 定义padding
$s-padding: 8px;
$m-padding: 12px;
$l-padding: 16px;

// 定义margin
$s-margin: 8px;
$m-margin: 12px;
$l-margin: 16px;
