$max-width: 2500px;
$min-width: 1400px;

$p-bg-color: #ffffff;
$p-bg-color-deep: #f1f2f3;
$p-shadow: 0 0 5px #e0e0e0;
$p-hover-shadow: 0 0 10px #e0e0e0;

// 定义字体颜色
$text-color-light: #ffffff;
$text-color-deep: #61666d;
$text-color-dark: #000000;

// 定义padding
$s-padding: 8px;
$m-padding: 12px;
$l-padding: 16px;

// 定义margin
$s-margin: 8px;
$m-margin: 12px;
$l-margin: 16px;
